
  .content {
   
    font-size: 40px;
    padding: 120px 100px;
    height: 100vh; 
  }
   
  body {
    background-color: #eaeaea;
    font-family: Arial;
  }
   
 
.nav{
    height:fit-content; 
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li{
    display: inline-block;
    margin-right: 20px; 
}
.nav a{
    text-decoration: none;
    color:black;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 20px;
    display: inline;
    position: relative;
    top: 45px;
    padding-left: 20px;
    margin-left: 20px;
}
.nav li{
    list-style: none;
    margin-left: -33px;
 
 }
 .icons{
    margin-top: 80px;
    
}
.icons a{
    padding-left: 10px;
    padding-right: 10px;
}
.image-container{
  overflow: hidden;
   height: 200px;
   width: 200px;
}
.image-container img{
    width: 100%;
    height: 200px;
    cursor: pointer;
}
.description{
  width: 50%;
}
.description p{
    font-size: 30px;
}
.desc-details{
    color: gray;
}
.icons a{
    display: block;
    justify-content:end;
    margin-bottom: 30px;  
    transition: transform 0.3s ease-in-out;                                                                                            
    
}
.icons a:hover{
    transform: scale(1,2) rotate(5deg);
}
.icons{
    position: absolute;
    top: 500px;
    right: 50px;
    transform: translateY(-50%);
   
  
}
#icon1,#icon3{
   margin-left: 70px;
  font-size: 80px;
  color: #000;
}
#icon2{
    font-size: 80px;
    color: blue
}
#icon1{
    color: 	pink
}
