.intro-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
  }
   
  .intro-banner__title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }
   
  .intro-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    
  }
   
  .intro-banner__image {
    border-radius: 20px;
    position: fixed;
    transform: rotate(-15deg);
    width: 450px;
  }
   
  .content {
    background-color: #eaeaea;
    font-size: 40px;
    padding: 120px 80px;
    height: 100vh; 
  }
   
  body {
    background-color: #000;
    font-family: Arial;
  }
   
  /* * {
    box-sizing: border-box;
  } */
  
.nav{
    height:fit-content; 
    /* padding: 10px;  */
    display:flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li{
    display: inline-block;
    margin-right: 20px;
    /* position: relative;
    top: 60px; */
    
}
.nav a{
    text-decoration: none;
    color:black;
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 20px;
    display: inline;
    /* margin-right: 20px; */
    position: relative;
    top: 45px;
    padding-left: 20px;
    margin-left: 20px;
}
.nav li{
    list-style: none;
    margin-left: -33px;
 
 }
 .icons{
    margin-top: 80px;
    
}
.icons a{
    padding-left: 10px;
    padding-right: 10px;
}
.image-container{
  overflow: hidden;
   height: 200px;
   width: 200px;
}
.image-container img{
    width: 100%;
    height: 200px;
    cursor: pointer;
}
.description{
  width: 50%;
}
.description p{
    font-size: 30px;
}
.desc-details{
    color: gray;
}
.icons a{
    display: block;
    justify-content:end;
    margin-bottom: 30px;  
    transition: transform 0.3s ease-in-out;                                                                                            
    
}
.icons a:hover{
    transform: scale(1,2) rotate(5deg);
}
.icons{
    position: absolute;
    top: 1000px;
    right: 50px;
    transform: translateY(-50%);
   
  
}
#icon1,#icon3{
   margin-left: 70px;
  font-size: 80px;
  color: #000;
}
#icon2{
    font-size: 80px;
    color: blue
}
#icon1{
    color: 	pink
}
