* {
    margin: 0;
    padding: 0;
    background-color: white;
    
  }
  body{
   background-color: white;
  }
  body {
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
  }
  .container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
    background-color: #eaeaea;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
    background-color: #eaeaea;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#f00,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    transform: translateY(0px);
  }
  has context menu

.about{
    height:100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;

}
.about-me{
    width: 100vw;
   
    height: 100px;
    padding: 50px;
    font-size: 25px;
 
    

}
.about-items{
    font-size: 25px;
    display: flex;
    justify-content: end;
    padding: 60px;
    margin: 40px;
}
.about-me container{
   
    top: 100px;
}

.one,.two,.three,.four,.five{
    border: dotted;
    margin: 40px;
    display: flex;
    background-position: 0 0;
    background-size: auto;
    border-radius: .75rem;
    justify-items: space-between;
    justify-content: center;
    padding-bottom: 2rem;
    margin-left: 40px;
    padding-right: 1rem;
    height: 200px;
    width: 800px;
    align-items: center;  
}
.desc{
    margin: 30px;
    padding: 30px;
}
.about-desc{
    font-size: 30px;
}
  #container {
   
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding-top:200px;  
    
    width:100%;
    bottom:45%;
    display:block;
    margin-top: -200px;
  }
   
  #flip {
    height:50px;
    overflow:hidden;
  }
   
  #flip > div > div {
    color: #eaeaea;;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
   
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
   
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
   
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
   
 #container p {
    position:fixed;
    width:100%;
    bottom:30px;
    font-size:12px;
    color:#eaeaea;
    margin-top:200px;
  }   
  .back{
    text-decoration: none;
    color: black;
  }

  .nav{
    display: flex;
    flex-direction: row; 
}

.nav li{
    list-style-type: none;
    display: inline;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 18px;
}
.nav a{
    text-decoration: none;
    color:black; 
    font-weight: 3px;
    text-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
.details{
  margin-top: 100px;
  padding: 100px;
}
html{
  background-color: #eaeaea;
}